<h1>{{pagetitle}}</h1>
{{#if desc}}
    <p class="descript">{{desc}}</p>
{{else}}
    <p>No content</p>
{{/if}}

<div class="cards">
    {{#each items}}
        <div class="card">
            <h3 tabindex="0">{{this.CloName}}</h3>
            <img src={{this.CloImgLink}} alt={{this.CloName}}>
            <div class="iteminfo">
            <p tabindex="0">Clothing Type : {{this.CloType}}</p>
            <p tabindex="0">Clothes Style : {{this.CloStyle}}</p>
            <p tabindex="0">Avalible Sizes : {{this.CloSizes}}</p>
            <p tabindex="0">Brand : {{this.CloBrand}}</p>
            <p tabindex="0">Material : {{this.CloMat}}</p>
            <p tabindex="0">Avalible Colors : {{this.CloColorsPrim}}</p>
            </div><div class="pricing">
            <h4 tabindex="0">Price {{this.priceEuro}} €</h4>
            <h5 tabindex="0">On discount : {{this.onDiscount}}</h5>
            </div>
        </div>
    {{/each}}
</div>
<!--add Image by rawpixel.com on Freepik to the 2nd and 4th picture in the footer
add Image by luis_molinero on Freepik to the 3rd picture in the footer
 -->