<h1>Clothes Added to Stock</h1>

<div style="overflow-x: auto;">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Cloth Name</th>
                <th>Image</th>
                <th>Clothing Type</th>
                <th>Clothe Style</th>
                <th>Available Size</th>
                <th>Brand</th>
                <th>Material</th>
                <th>Available Color</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
    <tbody>
    {{#each clothes}}
        <tr>
            <td>{{this._id}}</td>
            <td><h3>{{this.cloName}}</h3></td>
            <td><img src="{{this.cloImgLink}}"></td>
            <td>{{this.cloType}}</td>
            <td>{{this.cloStyle}}</td>
            <td>{{this.cloSizes}}</td>
            <td>{{this.cloBrand}}</td>
            <td>{{this.cloMat}}</td>
            <td>{{this.cloColorPrim}}</td>
            <td>
                <a href="#" class="btn border-shadow update">
                    <span class="text-gradient"><i class="fa-regular fa-pen-to-square"></i> </span>
            </td>
            <td>
                <a href="#" class="btn border-shadow delete">
                    <span class="text-gradient"><i class="fa-solid fa-trash-can"></i> </span>
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>
</div>


