{{!-- Extend the main layout --}}
{{#extend "layout/main"}}
  {{!-- Set the title --}}
  {{#content "title"}}{{clothe.cloName}} Details{{/content}}
  {{!-- Define the page content --}}
  {{#content "body"}}
    <h1>{{clothe.cloName}}</h1>

    <img src="{{clothe.cloImgLink}}" alt="{{clothe.cloName}}">

    <ul>
      <li>Type: {{clothe.cloType}}</li>
      <li>Style: {{clothe.cloStyle}}</li>
      <li>Sizes: {{clothe.cloSizes}}</li>
      <li>Brand: {{clothe.cloBrand}}</li>
      <li>Material: {{clothe.cloMat}}</li>
      <li>Primary Color: {{clothe.cloColorPrim}}</li>
      <li>Price in Euro: {{clothe.priceEuro}}</li>
      <li>On Discount: {{clothe.onDiscount ? 'Yes' : 'No'}}</li>
    </ul>

    <a href="/clothes/{{clothe._id}}/edit">Edit</a>
    <form action="/clothes/{{clothe._id}}?_method=DELETE" method="POST">
      <button>Delete</button>
    </form>

    <a href="/clothes">Back to List</a>
  {{/content}}
{{/extend}}
